{% extends "miniblogApp/base.html" %}
{% load static %}
{% block msg %}
{% endblock msg %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div class="col-md-8 mt-3">
    <h1> This is About Page</h1>
</div>

<div class="jumbotron jumbo-color jumbotron-fluid mt-5">
  <div class="container">
    <h1 class="display-4">About Mini Blog App By Pratik K Sarangi</h1>
    <p class="lead">Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Enim explicabo distinctio cumque. A voluptatibus culpa at cupiditate rem deleniti inventore minima optio doloremque necessitatibus architecto fugit mollitia, ullam? Perferendis voluptatum et, eum dolorum quae culpa labore, similique eius nostrum, in magni ipsum, esse laudantium laborum! Culpa inventore, nostrum ab voluptates!</p>
    <p class="lead">Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Enim explicabo distinctio cumque. A voluptatibus culpa at cupiditate rem deleniti inventore minima optio doloremque necessitatibus architecto fugit mollitia, ullam? Perferendis voluptatum et, eum dolorum quae culpa labore, similique eius nostrum, in magni ipsum, esse laudantium laborum! Culpa inventore, nostrum ab voluptates!</p>
  </div>
</div>

{% endblock content %}
