body{
    background: rgb(75,74,74);
    color:Whitesmoke;
}
.jumbo-color{
    border:2px groove #4B4A4A;lighting-color;
    border-radius: 20px;
}
.mybg{
    background: rgb(75,74,74);
    color:Whitesmoke;
}
.form-text {
    color: Whitesmoke;
}
.text-muted{
    color:Whitesmoke;
}
.admin{
    text-align: right;
}
.topnav-right {
  float: right;
}
